table, th,td{
    border:2px solid darkblue
   
}
table{
    border-collapse: collapse;
    width: 400px;;
    height: 200px;
    background-color: aquamarine;
    color: brown;
    text-align: center;
    
}